.card {
  display: flex;
  flex-direction: column; 
  width: 40vw;
  margin-bottom: 30px;
}

.cardAuthorAndBookmark {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.authorInfo {
    display: flex;
    align-items: center;
}

.authorAvatar {
    border-radius: 50%;
    margin-right: 5px;
}

.username {
    font-size: 13px;
    font-weight: 500;
}

.articleContent {
    display: flex;
    flex-direction: column;

}

.articleTitle {
    font-weight: 700;
    margin-bottom: 10px;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.date {
    color: #999999;
}

.tagsContainer {
    display: flex;
   
}

.tags {
    margin-left: 10px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
    color: #999999;
    border-color: #999999;
}