.container {
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
    border-bottom:  1px solid black;
    background-color: #ffc017;
    width: 100%;
    position: static;
}

.logo {
    display: flex;
    padding-left: 15vw;
    align-items: center;
    cursor: pointer;
    
}

.title {
    font-size: 42px;
}

.headerLinks {
    display: flex;
    padding-right: 15vw;
    align-items: center;

}

.image {
    width: 60px;
    height: 60px
}

.link {
    margin-right: 30px;
    font-size: 12px;

}

.uniqueClass {
    cursor: pointer;
}


.signUpLink {
    border: 1px solid black;
    border-radius: 20px;
    width: 100px;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    cursor: pointer;
    height: 30px;
     

}


