@font-face {
  font-family: 'Charter Regular';
  src: url('/fonts/Charter Regular.ttf') format('truetype');
}


.homeHeaderContainer {
  padding-left: 15vw;
  background-color: #ffc017;
  height: 58vh;
  display: flex;
  flex-direction: row;
  align-items: center;
 border-bottom: 1px solid black;
 margin-bottom: 40px;
padding-top: 50px;
}

.headerLeft {
  display: flex;
  flex-direction: column;
}

.bannerImage {
  margin-top: 20px;
  width: 600px;
}

.title {
  font-size: 106px;
  margin-top: 20px;
  font-weight: 540;
  font-family: 'Charter Bold';
}

.button {
  border-radius: 20px;
  width: 200px;
  height: 40px;
  color: white;
  background-color: black;
  margin-bottom: 20px;
  font-size: 18px;
}

.slogan {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 25px;
  width: 60%
  
}

.articlesContainer {
  padding-left: 15vw;
}

.bodyContainer {
  display: flex;
}

.mainTagContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin-left: 100px;
  width: 230px;
}

.tagTitle {
  margin-bottom: 10px;
  font-weight: 700;
  margin: 5px;
  font-size: 12px;
  width: 180px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  margin-bottom: 30px;
  margin-top: 20px
}

.tag {
  border: 1px solid black;
  padding: 8px;
  margin: 5px;
  border-color: #999999;
  font-size: 12px;
  color: #999999;
  cursor: pointer;
}
