.homeHeaderContainer {
  padding-left: 60px;
  background-color: #ffc017;
  height: 35vh;
  display: flex;
  flex-direction: column;
 justify-content: center;
 border-bottom: 1px solid black;
}

.title {
  font-size: 60px;
  margin-top: 20px;
}

.button {
  border-radius: 20px;
  width: 200px;
  height: 40px;
  color: white;
  background-color: black;
  margin-bottom: 20px;
  font-size: 18px;
}

.slogan {
  margin-top: 20px;
  margin-bottom: 30px;
  
}