.homeHeaderContainer {
  padding-left: 15vw;
  background-color: #ffc017;
  height: 35vh;
  display: flex;
  flex-direction: column;
 justify-content: center;
 border-bottom: 1px solid black;
 margin-bottom: 40px;
}

.title {
  font-size: 75px;
  margin-top: 20px;
  font-weight: 600;
}

.button {
  border-radius: 20px;
  width: 200px;
  height: 40px;
  color: white;
  background-color: black;
  margin-bottom: 20px;
  font-size: 18px;
}

.slogan {
  margin-top: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 24px;
  
}

.articlesContainer {
  padding-left: 15vw;
}

.bodyContainer {
  display: flex;
}

.mainTagContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  margin-left: 100px;
  width: 180px;
}

.tagTitle {
  margin-bottom: 10px;
  font-weight: 700;
  margin: 5px;
  font-size: 12px;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  margin-bottom: 30px;
  margin-top: 20px
}

.tag {
  border: 1px solid black;
  padding: 8px;
  margin: 5px;
  border-color: #999999;
  font-size: 12px;
  color: #999999;
}
