.mainContainer {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 15vw;
    width: 50vw;
    
}

.mainContainerTitle {
    font-weight: 700;
    margin-bottom: 40px;
    font-size: 36px;
}

.tagContainer {

    display: flex;
    align-items: center;

}

.tagIcon {
    font-size: 20px;
    margin-right: 10px;
    border-radius: 50%;
    padding-bottom: 7px;
}